@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Esta pagina describe a que se dedica la empresa dueña del sitio web que estas mirando.</p>
